.background{
        
    width: 1500px;
    height: 700px;
}
.bg{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.player,.control
{ position: absolute;
  width: 50px;
  height: 50px;
}
#p1
{
    left: 200px;
    top: 100px;
}
#p2
{
    left: 200px;
    top: 250px;
}
#p3
{
    right: 200px;
    top: 100px;
}
#p4
{
    right: 200px;
    top: 250px;
}
#main
{   position: absolute;
    height: 350px;
    width: 350px;
    left: 575px;
    top: 20px;
}
#go
{
    position: absolute;
    height: 72px;
    width: 74px;
    left: 715px;
    top: 285px;
}
#return
{
    left: 20px;
    top: 20px;
}
#背景框
{
    position: absolute;
    height: 330px;
    width: 750px;
    left: 385px;
    bottom: 20px;  
}
table, td, th {
    border: 2px solid black;
  }
table
{   position: absolute;
    width:650px;
    bottom:30px;
    left: 435px;
    border-collapse: collapse;
}
th
{
    width: 150px;
}
tr
{
    height: 60px;
}
.tableplayername
{
    text-align: center;
    font-size: 25px;
}
.pclass
{
    text-align: center;
    font-size: 25px;
}
.playername
{
    font-size: 20px;
    position: absolute;
}

#pn1
{
    left: 270px;
    top: 110px;
}
#pn2
{
    left: 270px;
    top: 260px;
}
#pn3
{
    right: 270px;
    top: 110px;
}
#pn4
{
    right: 270px;
    top: 260px;
}
.bigdice
{
    position: absolute;
    width:  57px;
    height: 55px;
    z-index: 3;
}
.smalldice
{
    position: absolute;
    width:  30px;
    height: 30px;
    z-index: 3;
}
#sd1-1
{ bottom:195px;
  left:235px;
}
#sd1-2
{ 
  bottom:195px;
  left:265px;
}
#sd1-3
{ bottom:195px;
  left:295px;
}
#sd1-4
{ bottom:195px;
  left:325px;
}
#sd1-5
{ bottom:195px;
  left:355px;
}
#sd1-6
{ bottom:195px;
  left:385px;
}
#sd2-1
{ bottom:135px;
  left:235px;
}
#sd2-2
{ 
  bottom:135px;
  left:265px;
}
#sd2-3
{ bottom:135px;
  left:295px;
}
#sd2-4
{ bottom:135px;
  left:325px;
}
#sd2-5
{ bottom:135px;
  left:355px;
}
#sd2-6
{ bottom:135px;
  left:385px;
}
#sd3-1
{ bottom:75px;
  left:235px;
}
#sd3-2
{ 
  bottom:75px;
  left:265px;
}
#sd3-3
{ bottom:75px;
  left:295px;
}
#sd3-4
{ bottom:75px;
  left:325px;
}
#sd3-5
{ bottom:75px;
  left:355px;
}
#sd3-6
{ bottom:75px;
  left:385px;
}
#sd4-1
{ bottom:15px;
  left:235px;
}
#sd4-2
{ 
  bottom:15px;
  left:265px;
}
#sd4-3
{ bottom:15px;
  left:295px;
}
#sd4-4
{ bottom:15px;
  left:325px;
}
#sd4-5
{ bottom:15px;
  left:355px;
}
#sd4-6
{ bottom:15px;
  left:385px;
}
#bigdice1
{
  top: 128px;
  left: 656px;
}
#bigdice2
{
  top: 128px;
  left: 728px;
}
#bigdice3
{
  top: 128px;
  left: 794px;
}
#bigdice4
{
  top: 198px;
  left: 656px;
}
#bigdice5
{
  top: 198px;
  left: 725px;
}
#bigdice6
{
  top: 198px;
  left: 794px;
}