.background{
        
    width: 1500px;
    height: 700px;
}
.bg{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.button
{
    background:url(../img/按钮.png) no-repeat center top;
    width: 150px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    border: none;
    color: white;
}
#返回
{   position: absolute;
    left: 1120px;
    bottom: 30px;
}
#规则
{   position: absolute;
    left: 275px;
    top:20px;
    width: 1000px;
    height: 550px;
}